body {
    background-color: rgba(0,0,0,0.8);
    color: #fff
}
.wrapper {
    height: 100vh;
    width: 100%;
    padding-top: 46vh;
    text-align: center;
    font-family: "RobotoRegular", sans-serif;
    display: inline-block;
}
form {
    text-align: right;
    display: inline-block;
}
input{
    padding: 5px 20px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: 2px solid #F4A100
}
input[type="submit"]{
    padding: 7px 15px;
    background-color: #F4A126;
    color: #fff;
    border: 1px solid #F4A100;
    transition: all .5s ease;
}
input[type="submit"]:hover{
    transform: scale(1.2);
    color: #222
}




